<%= form_for(@menu, :remote => true) do |f| %>
	<div class="field">
		<%= f.label :title, 'Title' %>
		<%= f.text_field :title, :value => 'New menu', :onchange => 'submit_menu_title()'  %>
		<%= f.hidden_field  :id, :class => 'menu_id_field' %>
	</div>
	<div class="actions">			
		<%= f.submit "Create", :id=>'submit_menu' %>
	</div>
<% end %>

<%= form_for(@menu_item, :remote => true, :url => { :controller => "menus", :action => "create" }) do |f| %>
				
	<# Data for menu items %>
	<div class="field">
		<%= f.label :menu_id, 'Menu ID'%>
		<%= f.text_field :menu_id, :class => 'menu_id_field', :value => @menu.id%>
	</div>
	<div class="field">
		<%= f.label :recipe_id, 'Recipe ID' %>
		<%= f.text_field  :recipe_id %>
	</div>		
	<div class="actions">			
		<%= f.submit "Create", :id=>'submit_menu_item' %>
	</div>
<% end %>

