<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @menu.title %>
</p>

<p>
  <b>Meal:</b>
  <%= @menu.meal %>
</p>

<p>
  <b>Date of meal:</b>
  <%= @menu.date_of_meal %>
</p>

<p>
  <b>User:</b>
  <%= @menu.user_id %>
</p>

<p>
  <b>Date created:</b>
  <%= @menu.date_created %>
</p>

<p>
  <b>Date updated:</b>
  <%= @menu.date_updated %>
</p>


<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
