<h1>Listing recipes</h1>

<button type="button" onclick="showAddRecipeDiv()">Add Recipe</button> 
<input id="newRecipeURL" name="newRecipeURL" type="url" value="Add Recipe" />

<div class="add_recipe">
	<img id="newRecipePicture" src=""/>
	<label id="newRecipeTitle"></label>
	<%= form_tag do %>
		<div class="field">
			<input id="recipe_url" name="recipe[url]" type="text"/>
			<input id="recipe_title" name="recipe[title]" type="text"/>
			<input id="recipe_image" name="recipe[image]" type="text"/>
		</div>
		<div class="actions">
			<input name="commit" type="submit" value="Finish" />
		</div>
	<% end %>
</div>

<table>
  <tr>
    <th>Image</th>
    <th>Title</th>
    <th>Url</th>
    <th>Dateadded</th>
    <th>Addedby</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td>
		<img src="<%= recipe.image %>" width="200" height="150"/>
	</td>
    <td><%= recipe.title %></td>
    <td>
		<a href="<%= recipe.url %>"><%= recipe.url %></a>
	</td>
    <td><%= recipe.dateAdded %></td>
    <td><%= recipe.addedBy %></td>
    <td><%= link_to 'Show', recipe %></td>
    <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= link_to 'Destroy', recipe, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<form accept-charset="UTF-8" action="/recipes" class="new_recipe" id="new_recipe" method="post">
  </div>
  <div class="field">
    <label for="recipe_url">Enter the URL for a new recipe here:</label><br />
	<select id="recipe_url1" name="recipe">
		<option value="http://www.epicurious.com/recipes/food/views/Truffled-Toast-with-Radicchio-and-Egg-236003">Epicurious</option>
		<option value="http://thepioneerwoman.com/cooking/2012/01/spicy-stewed-beef-with-creamy-cheddar-grits/">Pioneer Woman</option>
		<option value="http://www.seriouseats.com/2012/01/the-food-lab-how-to-make-best-buffalo-wings-fry-again-ultimate-crispy-deep-fried-buffalo-wings.html?ref=carousel">Serious Eats</option>
		<option value="http://simplyrecipes.com/recipes/sweet_and_spicy_mushroom_stir_fry/">Simply Recipes</option>
		<option value="http://www.101cookbooks.com/archives/toasted-four-grain-cereal-recipe.html">101 Cookbooks</option>
		<option value="http://smittenkitchen.com/2012/01/potato-chip-cookies/">Smitten Kitchen</option>
		<option value="http://www.thekitchn.com/recipe-for-a-crowd-big-game-day-barbacoa-165301">Kitchn</option>
		<option value="http://www.foodnetwork.com/recipes/mustard-roasted-salmon-recipe/index.html">Food Network</option>
	</select>
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Add Recipe" />
  </div>
</form>

<br />

<img id="recipeImage" src=""/>
<p id="demo">Preview recipe here...</p>

<br/>

<button type="button" 
onclick="getAll()">Get All</button>

<button type="button"
onclick="testExternalJS()">External JS</button>

<%= javascript_include_tag "application" %>

<%= link_to 'New Recipe', new_recipe_path %>
