<h1>Listing recipes</h1>

<table>
  <tr>
    <th>Image</th>
    <th>Title</th>
    <th>Url</th>
    <th>Dateadded</th>
    <th>Addedby</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td>
		<img src="<%= recipe.image %>" width="200" height="150"/>
	</td>
    <td><%= recipe.title %></td>
    <td>
		<a href="<%= recipe.url %>"><%= recipe.url %></a>
	</td>
    <td><%= recipe.dateAdded %></td>
    <td><%= recipe.addedBy %></td>
    <td><%= link_to 'Show', recipe %></td>
    <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= link_to 'Destroy', recipe, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<form accept-charset="UTF-8" action="/recipes" class="new_recipe" id="new_recipe" method="post">
  </div>
  <div class="field">
    <label for="recipe_url">Enter the URL for a new recipe here:</label><br />
    <input id="recipe_url" name="recipe[url]" size="130" type="text" />
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Add Recipe" />
  </div>
</form>

<br />

<p id="demo">Preview recipe here...</p>
<br/>
<button type="button" 
onclick="doAjax('http://theyummybits.com/roasted-spanish-onions-cookbook-giveaway/')">Display Recipe</button>


<script type="text/javascript">
function doAjax(url){
    if(url.match('^http'))
	{
	   alert(url);
      $.getJSON("http://query.yahooapis.com/v1/public/yql?"+
                "q=select%20*%20from%20html%20where%20url%3D%22"+
                encodeURIComponent(url)+
                "%22&format=xml'&callback=?",
        function(data){
          if(data.results[0]){
            var data = filterData(data.results[0]);
            document.getElementById("demo").innerHTML=data;
          } else {
            var errormsg = '<p>Error: could not load the page.</p>';
            document.getElementById("demo").innerHTML=errormsg;
          }
        }
      );
    } else {
      $('#target').load(url);
    }
	
  }
 
 function filterData(data){
    data = data.replace(/<?\/body[^>]*>/g,'');
    data = data.replace(/[\r|\n]+/g,'');
    data = data.replace(/<--[\S\s]*?-->/g,'');
    data = data.replace(/<noscript[^>]*>[\S\s]*?<\/noscript>/g,'');
    data = data.replace(/<script[^>]*>[\S\s]*?<\/script>/g,'');
    data = data.replace(/<script.*\/>/,'');
    return data;
  }
 </script>


<%= link_to 'New Recipe', new_recipe_path %>
